<script>
import Navbar from './Navbar.vue'
import Sidebar from './Sidebar.vue'

export default {
  components: {
    Navbar,
    Sidebar
  }

}
</script>

<template>
    <navbar></navbar>
    <div id="bodyWrapper">
      <sidebar></sidebar>
      <router-view
        class="view"
        keep-alive
        transition
        transition-mode="out-in">
      </router-view>
    </div>
    <!-- main view -->
</template>

<style lang="stylus">
@import "../variables.styl"
// Imports
@import url("https://cdnjs.cloudflare.com/ajax/libs/foundation/6.0.1/css/foundation.min.css");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700italic,800italic,800,700");

// Helpers
.left
  float left
.right
  float right
.padding-25
  padding 25px !important
.padding-30
  padding 30px !important
.bg-blue-600
  background-color $primary_color !important
.text-uppercase
  text-transform uppercase!important
.bg-white
  color #76838f
  background-color #fff
.text-left
  text-align left!important
.margin-bottom-5
  margin-bottom 5px !important
.no-padding
  padding 0 !important

.investment-details-bg
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.14),0 2px 2px 0 rgba(0,0,0,.098),0 1px 5px 0 rgba(0,0,0,.084);
  border solid 1px #eee
  .block-title
    color $secondary_font_color
  .block-info
    color $secondary_font_color


html, body
  font-family Open Sans
  font-size 14px
  height 100%

#bodyWrapper
  padding 66px 30px
  margin-left 250px
  width calc(100vw - 250px)
  height calc(100vh - 66px)
  height 100vh
  background-color #f1f4f5
  position relative
  overflow-y scroll

.menu-text
  padding 0
  line-height inherit
  font-size inherit
  font-weight inherit


.view
  position absolute
  background-color $bg
  width 100%
  transition opacity .2s ease
  box-sizing border-box
  padding 8px 20px
  &.v-enter, &.v-leave
    opacity 0
.ct-alert
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  border-style: solid;
  border-width: 1px;
  display: block;
  font-size: 0.82222rem;
  font-weight: normal;
  margin-bottom: 1.11111rem;
  padding: 0.87778rem 1.33333rem 0.17778rem 0.77778rem;
  position: relative;
  background-color: $primary_color;
  border-color: $primary_color;
  color: #FFFFFF;

.panel
  margin-bottom 22px
  background-color #fff
  border 1px solid transparent
  border-radius:4px
  -webkit-box-shadow 0 1px 1px rgba(0,0,0,.05)
  box-shadow: 0 1px 1px rgba(0,0,0,.05)
  position relative
  margin-bottom 30px
  border-width 0
  .panel-heading.border
    border-bottom: solid 1px #eee
  .panel-heading
    position: relative;
    padding: 0;
    border-bottom: 1px solid transparent;
    padding: 0;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
  .panel-title
    display: block;
    padding: 20px 30px;
    font-size: 18px;
    color: #37474f;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    color: inherit;
  .panel-body
    padding: 0 30px;

table
  width 100.2%
  thead
    background transparent
  td, th
    color #76838f
  td:first-child, th:first-child
    padding-left: 30px
  tr
    background-color rgba(243,247,249,.3) !important
    border-bottom 1px solid #f1f1f1;

footer
  width: 100%;
  height: 100px;
  position: absolute;
  bottom: 0;
  left: 0;

</style>
