<script>
  import AuthenticatedMixin from '../mixins/auth'

  export default {
    name: "AvailableInvestments",

    mixins: [AuthenticatedMixin],

    props: ['title', 'investments']
  }
</script>

<template>
  <div class="panel">
      <div class="panel-heading">
          <h3 class="panel-title">{{title}}</h3>
      </div>
      <div class="table-responsive">
        <table>
          <thead>
            <tr>
              <th>#</th>
              <th>Min Investment</th>
              <th>Bitcoin Price</th>
              <th>End Date</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="inv in investments">
              <td>{{inv.id}}</td>
              <td>{{inv.min_investment | money }}</td>
              <td>{{inv.bitcoin_price | price }}</td>
              <td>{{inv.end_date | day}}</td>
              <td><a v-link="{ name: 'investment-details', params: { username: user.username, investmentId: inv.id }}">Details</a></td>
            </tr>
          </tbody>
        </table>
      </div>
  </div>
</template>
