<script>
import SiteTitle from './SiteTitle.vue'
import LineChart from './LineChart.vue'
import Block from './Block.vue'
import RecentInvestments from './RecentInvestments.vue'
import AvailableInvestments from './AvailableInvestments.vue'
import AuthenticatedMixin from '../mixins/auth'
import auth from '../services/auth'
import investmentService from '../services/investments'


export default {
  name: "Dashboard",

  mixins: [AuthenticatedMixin],

  data: function(){
    return {
      labels: ["January", "February", "March", "April", "May", "June", "July", "August", "Semptber", "October", "November", "December"],
      lineData: [500, 769, 1400, 2600, 1450, 1589, 1100, 1266, 1590, 1289, 1380, 1690],
      investments: []
    }
  },

  ready: function() {
    investmentService.getInvestments(this, 6).success(function(data){
      this.$set('investments', data);
    });
  },

  components: {
    SiteTitle,
    LineChart,
    Block,
    RecentInvestments,
    AvailableInvestments
  }
}
</script>

<template>
  <site-title title="Dashboard"></site-title>
  <div class="large-7 columns">
    <div class="panel">
      <div class="panel-heading">
        <h1 class="panel-title">Profits</h1>
      </div>
      <div class="panel-body">
        <line-chart :labels=labels :data=lineData title="Profits" name="profitChart"></line-chart>
      </div>
    </div>
    <available-investments title="Available Investments" :investments=investments></available-investments>
  </div>
  <div class="large-5 columns">
    <div class="row">
      <div class="large-6 columns">
        <block title="Wallet" info="$12,787" bgcolor="bg-blue-600">
      </div>
      <div class="large-6 columns">
        <block title="Investments" info="12" bgcolor="bg-blue-600">
      </div>
    </div>
    <div class="row">
      <div class="large-12 columns">
        <recent-investments title="Recent Investments"></recent-investments>
      </div>
    </div>
  </div>
</template>
