<script>
  export default {
    name: "DateBlock",

    props: ['title', 'info', 'bgcolor']
  }
</script>

<template>
  <div class="block-wrapper {{bgcolor}}">
    <div class="block-title text-uppercase">{{title}}</div>
    <span class="block-info">{{info | fromNow | cleanDate}}</span>
  </div>
</template>

<style lang="stylus">
.block-wrapper
  position: relative;
  margin-bottom: 30px;
  background-color: #fff;
  border-radius: 3px;
  height -webkit-calc(100% - 30px)
  height calc(100% - 30px)
  margin-bottom 30px
  color #fff
  font-size 36px
  text-align center
  padding 25px
  .block-title
    font-size 14px



</style>
