<script>
  import SiteTitle from './SiteTitle.vue'

  export default {
    name: "Feedback",

    components:{
      SiteTitle
    }
  }
</script>

<template>
  <site-title title="Feedback"></site-title>
  <div class="row">
    <div class="large-8 columns">
      <div class="panel">
        <div class="panel-heading border">
          <h1 class="panel-title">Leave us a message!</h1>
        </div>
        <div class="panel-body padding-25">
          <form>
            <label for="feedbkFormSubjectInput">Subject</label>
            <input type="text" name="subject" id="feedbkFormSubjectInput" v-model=subject>
            <label for="feedbkFormMessage">Message</label>
            <textarea id="feedbkFormMessage" rows="8" cols="40"></textarea>
            <button type="button" class="button">Send</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>
