<script>
  import SiteTitle from './SiteTitle.vue'
  import InvestmentBlock from './InvestmentBlock.vue'
  import AuthenticatedMixin from '../mixins/auth'
  import Block from './Block.vue'
  import DateBlock from './DateBlock.vue'
  import PriceBlock from './PriceBlock.vue'
  import investmentService from '../services/investments'

  export default {
    name: "InvestmentFinder",

    mixins: [AuthenticatedMixin],

    data: function(){
      return {
        "investments": []
      }
    },

    ready: function() {
      investmentService.getInvestments(this, 6).success(function(data){
        this.$set('investments', data);
      });
    },

    components: {
      SiteTitle,
      InvestmentBlock,
      Block,
      DateBlock,
      PriceBlock
    }
  }
</script>

<template>
  <site-title title="The Market"></site-title>
  <div class="large-6 columns" v-for="investment in investments">
     <div class="panel">
       <div class="panel-heading border">
         <h1 class="panel-title">Investment Offer</h1>
         <div class="popularity-wrapper">
           <div class="pop_line active"></div>
           <div class="pop_line active"></div>
           <div class="pop_line active"></div>
           <div class="pop_line"></div>
           <div class="pop_line"></div>
         </div>
       </div>
       <a v-link="{ name: 'investment-details', params: { username: user.username, investmentId: investment.id }}">
         <div class="panel-body padding-25">
           <div class="row">
             <div class="large-6 columns">
               <price-block title="Bitcoin Price" :info=investment.bitcoin_price bgcolor="investment-details-bg small"></price-block>
             </div>
             <div class="large-6 columns">
               <date-block title="End Date" :info=investment.end_date bgcolor="investment-details-bg small"></date-block>
             </div>
             <div class="large-12 columns">
               <span class="progress-meta left top">Min</span>
               <span class="progress-meta left bottom">{{investment.min_investment | money}}</span>
               <span class="progress-meta right top">Max</span>
               <span class="progress-meta right bottom">{{investment.remaining_investment | money }}</span>
               <div class="blue progress" role="progressbar" tabindex="0" aria-valuenow="{{investment.percentage_used}}" aria-valuemin="0" aria-valuetext="{{investment.percentage_used}} percent" aria-valuemax="100">
                 <div class="progress-meter" style="width: {{investment.percentage_used}}%"></div>
               </div>
             </div>
           </div>
         </div>
       </a>
     </div>
  </div>
</template>

<style lang="stylus">
@import "../variables.styl"

.pop_line{
  background: #eee;
  border-radius:1px;
  width:5px;
  height:20px;
  float:left;
  margin:2px;
}
.pop_line.active{
  background: $primary_color;
}
.popularity-wrapper
  float right
  margin-right: 30px;
  margin-top: -8%;
.block-wrapper.small
  margin-bottom 40px
.progress-meta
    color #76838f
    font-size 14px
    font-weight 100
.progress-meta.left.bottom
  float left
  margin-top 1em
.progress-meta.left.top
  float left
  margin-top -1.5em
.progress-meta.right.bottom
  float right
  margin-top 1em
  margin-left -1em
.progress-meta.right.top
    float right
    margin-top -1.5em
</style>
