<script>
  export default {
    name: "InvestmentBlock",

    props: ['enddate', 'bitcoinprice']
  }
</script>

<template>

</template>

<style lang="stylus">
@import "../variables.styl"
.investment-block-wrapper
  position: relative
  margin-bottom 30px
  background-color #fff
  border-radius 3px
  height -webkit-calc(100% - 30px)
  height calc(100% - 30px)
  margin-bottom 30px
  padding 30px
  .date
    margin-bottom 5px
    color $secondary_font_color
</style>
