<script>
  import moment from 'moment';
  import SiteTitle from './SiteTitle.vue'
  import Block from './Block.vue'
  import LineChart from './LineChart.vue'
  import investmentService from '../services/investments'
  import {domain, money, fromNow, day, cleanDate, price} from '../filters'
  import AuthenticatedMixin from '../mixins/auth'

  export default {
    name: "InvestmentDetails",

    mixins: [AuthenticatedMixin],

    data: function(){
      return {
        labels: ["January", "February", "March", "April", "May", "June", "July", "August", "Semptber", "October", "November", "December"],
        lineData: [500, 769, 1400, 2600, 1450, 1589, 1100, 1266, 1590, 1289, 1380, 1690],
        investment: {},
        investmentId: 0,
        showAlert: false
      }
    },


    route: {
      data ({ to }) {
        this.$set('investmentId', to.params.investmentId);
        investmentService.getInvestment(this, to.params.investmentId).success(function(data){
          this.$set('investment', data);
        });
      }
    },

   computed: {
     date: function() {
       return moment(this.investment.end_date).calendar();
     },
     bitcoinPrice: function(){
       return price(this.investment.bitcoin_price)
     },
     maxInvestment: function(){
       return money(this.investment.remaining_investment)
     },
     minInvestment: function(){
       return money(this.investment.min_investment)
     },
   },

   methods: {
     invest: function(){
       var self = this;

       var credentials = {
         investment_id: this.investmentId,
         amount: this.amount * 100
       }

       investmentService.buy(this, credentials).success(function(data){
         self.$set('showAlert', true);
         setTimeout(function(){
           self.$set('showAlert', false);
         },3000);
       });

       this.amount = "";
     }
   },

    components: {
      SiteTitle,
      Block,
      LineChart
    }
  }
</script>

<template>
  <div class="ct-alert" v-if=showAlert>
<p>
  Success! Investment purchased!
</p>
  </div>
  <site-title title="Investment Details"></site-title>
    <div class="large-4 columns">
        <div class="panel">
          <div class="panel-heading border">
            <h1 class="panel-title">Investment Funds</h1>
          </div>
          <div class="panel-body padding-30">
            <div class="input-group">
              <input class="input-group-field investment-amount-input" type="text" v-model="amount">
              <span class="input-group-label">.00</span>
              <!-- <a class="input-group-button button">Submit</a> -->
            </div>
            <button class="primary button investment-amount-btn" @click="invest()">Submit</button>
          </div>
        </div>
        <div class="panel">
          <div class="panel-heading border">
            <h1 class="panel-title">{{Investment Date}}</h1>
          </div>
          <div class="panel-body padding-30">
              <block title="End Date" :info=date bgcolor="investment-details-bg"></block>
              <div class="blue progress" role="progressbar" tabindex="0" aria-valuenow="35" aria-valuemin="0" aria-valuetext="35 percent" aria-valuemax="100">
                <div class="progress-meter" style="width: 35%"></div>
              </div>
          </div>
        </div>
      </div>
      <div class="large-8 columns">
        <div class="panel">
          <div class="panel-heading border">
            <h1 class="panel-title">Investment Details</h1>
          </div>
          <div class="panel-body padding-30">
            <div class="row">
              <div class="large-4 columns">
                <block title="End Bitcoin Price" :info=bitcoinPrice bgcolor="investment-details-bg">
              </div>
              <div class="large-4 columns">
                <block title="Min Investment" :info=minInvestment bgcolor="investment-details-bg">
              </div>
              <div class="large-4 columns">
                <block title="Max Investment" :info=maxInvestment bgcolor="investment-details-bg">
              </div>
              <hr>
              <div class="large-12 columns">
                <h1 class="panel-title">Bitcoin Analytics</h1>
                <line-chart :labels=labels :data=lineData title="Bitcoin Analytics" name="bitcoinAnalytics"></line-chart>
              </div>
            </div>
          </div>
        </div>
      </div>
</template>

<style lang="stylus">
  @import "../variables.styl"

  .progress
    background-color #eee

  .progress.blue
    .progress-meter
          background-color $primary_color

  .investment-amount-input
    width 100%
    border-color #ddd
    padding 1.4em
  .input-group-label
    border: 1px solid #ddd;
    border-left: 0;
    color: #9196aa;
    background #f8f8f8
  .investment-amount-btn
    margin 0
    width 100%
    border-radius 4px
    background $primary_color !important
    font-size 15px
    font-weight 500
  .investment-amount-btn:hover
    background #0B5F8A !important
</style>
