<script>
  import Chart from 'chart.js'

  export default {
    name: "LineChart",

    props: ['labels', 'data', 'title', 'name'],

    ready: function(){
      var data = {
          labels: this.labels,
          datasets: [
              {
                  label: "My Second dataset",
                  fillColor: "rgba(98,168,234,0.2)",
                  strokeColor: "rgba(98,168,234,1)",
                  pointColor: "rgba(98,168,234,1)",
                  pointStrokeColor: "#fff",
                  pointHighlightFill: "#fff",
                  pointHighlightStroke: "rgba(98,168,234,1)",
                  data: this.data
              }
          ]
      };

      var options = {
        bezierCurve : false,
        datasetFill : false,
        scaleShowVerticalLines: false,
        datasetStrokeWidth : 1
      }

      var ctx = document.getElementById(this.name).getContext("2d");
      var myLineChart = new Chart(ctx).Line(data, options);
    }
  }
</script>

<template>
  <canvas id="{{name}}" width="400" height="400" class="line-chart"></canvas>
</template>

<style lang="stylus">
  .line-chart
    width: 100% !important
    height: 300px
</style>
