<script>
  import auth from '../services/auth'

  export default {
    name: "Login",

    data: function(){
      return {
        credentials: {
          username: '',
          password: ''
        }
      }
    },

    methods: {
      submit() {
        var credentials = {
          username: this.credentials.username,
          password: this.credentials.password
        }
        auth.login(this, credentials, '/#!/'+credentials.username+'/dashboard')
      }
    }
  }
</script>

<template>
  <div class="row">
    <div class="large-6 large-offset-3 columns">
      <input type="text" v-model="credentials.username" placeholder="Username">
      <input type="password" v-model="credentials.password" placeholder="Password">
      <button @click="submit()">Submit</button>
    </div>
  </div>
</template>
