<script>
import auth from '../services/auth'

export default {
  name: "Navbar",

  data: function(){
    return {
      user: auth.user,
      showMenu: true
    }
  },

  methods: {
    toggleMenu(){

      if (this.showMenu) {
        var categories = document.querySelectorAll("#sidebar-wrapper ul li.category")
        for (var i = 0; i < categories.length; i++) {
          categories[i].innerHTML = "";
        }

        var icons = document.querySelectorAll("#sidebar-wrapper ul li a i")
        for (var i = 0; i < icons.length; i++) {
          icons[i].style.marginLeft = "-1em";
        }

        var menuText = document.querySelectorAll(".menu-text");
        for (var i = 0; i < menuText.length; i++) {
          menuText[i].style.display = "none";
        }

        var siteLogo = document.getElementById("siteLogo")
        siteLogo.style.width = "50px";
        var sideMenu = document.getElementById("sidebar-wrapper")
        sideMenu.style.width = "50px";

        window.setTimeout(function(){
          var categories = document.querySelectorAll("#sidebar-wrapper ul li.category")
          for (var i = 0; i < categories.length; i++) {
            categories[i].style.display = "none";
          }
        }, 290)

        this.showMenu = false;
      } else {
        var siteLogo = document.getElementById("siteLogo")
        siteLogo.style.width = "250px";
        var sideMenu = document.getElementById("sidebar-wrapper")
        sideMenu.style.width = "250px";

        window.setTimeout(function(){
          var categories = document.querySelectorAll("#sidebar-wrapper ul li.category")
          for (var i = 0; i < categories.length; i++) {
            categories[i].innerHTML = "Menu";
          }

          var icons = document.querySelectorAll("#sidebar-wrapper ul li a i")
          for (var i = 0; i < icons.length; i++) {
            icons[i].style.marginLeft = "0";
          }

          var menuText = document.querySelectorAll(".menu-text");
          for (var i = 0; i < menuText.length; i++) {
            menuText[i].style.display = "inline-block";
          }

          var categories = document.querySelectorAll("#sidebar-wrapper ul li.category")
          for (var i = 0; i < categories.length; i++) {
            categories[i].style.display = "inline-block";
          }
        }, 300)

        this.showMenu = true
      }


    }
  }
}
</script>

<template>
  <div class="top-bar" >
    <div class="top-bar-left">
      <div class="site-logo left" id="siteLogo">
          <img src="/static/logo.png"><span class="menu-text">Cointrade</span>
      </div>
      <ul class="dropdown menu left" data-dropdown-menu>
        <li @click="toggleMenu()"><a href="#"><i class="fa fa-bars navbar-bars"></i></a></li>
      </ul>
    </div>
    <div class="top-bar-right">
      <ul class="menu dropdown"  data-dropdown-menu>
        <li><span class="navbar-meta-data">1 BTC = $288.90</span></li>
        <li><span class="navbar-meta-data">Credits = $28,343.90</span></li>
        <li><span class="navbar-avatar"><img src="https://cointrade.herokuapp.com/assets/portraits/5.jpg" width="30" height="30"/></span><li>
        <li><span class="navbar-notification"><i class="fa fa-bell"></i></span><li>
      </ul>
    </div>
  </div>
</template>

<style lang="stylus">
  @import "../variables.styl"

  .top-bar
    padding 0;
    height 66px
    background-color #fff
    -webkit-box-shadow 0 2px 4px rgba(0,0,0,.08)
    box-shadow 0 2px 4px rgba(0,0,0,.08)
    position fixed
    width 100%
    z-index 1400
    ul
      background-color inherit
    .site-logo
      background-color $primary_color
      padding 22px 20px
      width 250px
      height 66px
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease;
      img
        height 32px
        width 32px
        margin-top -10px
      span
        font-size 20px
        line-height 22px
        margin-left 10px
        color $primary_font_color
        font-weight 500
        background-color inherit
    .top-bar-right
      margin-top 1.5em
      span
        padding 10px
      span.navbar-meta-data
        color $secondary_font_color
      span.navbar-avatar
        img
          width 30px
          max-width 100%
          height 30px
          border 0 none
          border-radius 1000px

.navbar-notification i
  color $secondary_font_color

.navbar-bars
  font-size 20px
  vertical-align middle
  color $secondary_font_color
  margin-left 1.25em
  margin-top .65em

</style>
