<script>
  import AuthenticatedMixin from '../mixins/auth'
  import investmentService from '../services/investments'

  export default {
    name: "RecentInvestments",

    mixins: [AuthenticatedMixin],

    props: ['title'],

    ready: function() {
      investmentService.getUserInvestments(this, 1, 6).success(function(data){
        console.log(data);
        this.$set('investments', data);
      });
    },

    data: function(){
      return {
        investments: []
      }
    }
  }
</script>

<template>
  <div class="panel">
      <div class="panel-heading">
          <h3 class="panel-title">{{title}}</h3>
      </div>
      <div class="table-responsive">
        <table>
          <thead>
            <tr>
              <th>#</th>
              <th>Profit/Loss</th>
              <th>Date</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="investment in investments">
              <td>{{investment.id}}</td>
              <td>$2,398</td>
              <td>{{investment.end_date}}</td>
              <td><a>Details</a></td>
            </tr>
          </tbody>
        </table>
      </div>
  </div>
</template>
