<script>
import auth from '../services/auth'

export default {
  name: "Sidebar",

  data: function(){
    return {
      user: auth.user
    }
  },

  methods: {
    toggleSubmenu: function(event){
      if (event.target.tagName == "A") {
        return
      }

      if (event.target.parentNode.parentNode.classList.contains("active")){
        event.target.parentNode.parentNode.setAttribute("class", "has-sub");
      } else {
        event.target.parentNode.parentNode.setAttribute("class", "has-sub active");
      }
    }
  }
}
</script>

<template>
  <div id="sidebar-wrapper">
    <ul>
      <li class="category">Menu</li>
      <li><a v-link="{ name: 'dashboard', params: { username: user.username }}"><i class="fa fa-dashcube"></i><span class="menu-text">Dashboard</span></a></li>
      <li><a v-link="{ name: 'investment-finder', params: { username: user.username }}"><i class="fa fa-modx"></i><span class="menu-text">The Market</span></a></li>
      <li v-on:click="toggleSubmenu" class="has-sub"><a><i class="fa fa-folder-o"></i><span class="menu-text">Investments</span></a>
        <ul class="sub-menu">
          <li>
            <a href=""><span>Active Investments</span></a>
          </li>
          <li>
            <a v-link="{ name: 'investment-history', params: { username: user.username }}"><span>Investments History</span></a>
          </li>
        </ul>
      </li>
      <li><a href="#"><i class="fa fa-google-wallet"></i><span class="menu-text">Wallet</span></a></li>
      <li><a href="#"><i class="fa fa-cogs"></i><span class="menu-text">Settings</span></a></li>
      <li><a v-link="{ name: 'feedback', params: { username: user.username }}"><i class="fa fa-comment"></i><span class="menu-text">Feedback</span></a></li>
    </ul>
  </div>
</template>

<style lang="stylus">
  .has-sub
    ul.sub-menu
      display: none;
  .has-sub.active
    ul.sub-menu
      display: block;
  .fa-caret-down
    float right
    margin-top 1em
  #sidebar-wrapper
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 250px;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #263238;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    top 66px
    ul
      padding 0
      margin 0
      li:hover
        background-color: rgba(255, 255, 255, .02);
      li.category
        padding: 0 24px;
        margin-top: 20px;
        font-size: 15px;
        line-height: 46px;
        color: #76838f;
        text-transform: uppercase;
        -webkit-transition: all .25s, font .1s .15s, color .1s .15s;
        -o-transition: all .25s, font .1s .15s, color .1s .15s;
        transition: all .25s, font .1s .15s, color .1s .15s;
      li
        line-height: 36px;
        a
          display: block;
          color: rgba(163, 175, 183, .9);
          padding: 0 30px;
          line-height: 46px;
          font-size: 16px;
          i
            margin-right 16px
</style>
