<script>
export default {
  name: "SiteTitle",

  props: ['title']
}
</script>

<template>
  <div class="site-title">
    <h1>{{title}}</h1>
  </div>
</template>

<style lang="stylus">
  div.site-title
    position: relative;
    padding: 30px 30px;
    margin-top: 0;
    margin-bottom: 0;
    background: transparent;
    border-bottom: none;
    h1
      color $site_title_font_color
      margin-top: 0;
      margin-bottom: 0;
      font-size: 26px;
</style>
